%h1.styled 'Мой подиум' - кто мы?
%p
  Молодая команда энтузиастов, желающих помочь нашим женам, друзьям и подругам не тратить время на поиски в сети товаров,
  а выбирать только из проверенных магазинов.
  %div Мы сделали максимально простым поиск товаров по категориям и ключевым словам, ценам и даже "Поводам" для той или иной одежды/товару.

%h2 Как попасть к нам в каталог?
%p Напишите в раздел "#{link_to('Обратная связь', contact_us_path, title: 'Связаться с нами')}", и мы расскажем подробности работы с нашим каталогом.

%h2 Можете ли вы стразу продавать мои товары?
%p Да и еще раз ДА. Мы можем продавать ваши товары, при условии что вы имеете учетную запись #{link_to('LiqPay', 'https://www.liqpay.com/?do=shop_form')}, мы можем подключить оплату товаров прямо с нашего сайта.

%h2 Что еще у вас есть интересного?
%p Интернет магазины так же могут проводитьс нами совместные акции выдавая скидочные купоны, или публикуя скидочную цену.

%h2 Сколько это стоит?
%p До сентября 2015 года мы принимаем все магазины исключительно бесплатно, в дальнейшем они будут бесплатно получать все новые возможности и преимущества бесплатно.

