- content_for :page_title  do
  Часто задаваемые вопросы
- content_for :description do
  Коротко о часто возникаемых попросах
- content_for :keywords do
  помощь, найти, проконсультировать

%h1 FAQ

%section.container
