- content_for :page_title  do
  Приватные данные
- content_for :description do
  Информация о хранении приватных данных и ответственности сторон.
- content_for :keywords do
  личные данные, интернет магазин, оплата, обработка покупок

%h1 Условия хранения и обратки личных данных
%p На данном этапе проекта, наш сервис не хранит каких либо приватных данных.

%h2 Ответственность сторон
%p Данные о товарах предоставляются Интернет магазинами с их согласия.
%div Мы не продаем и не несем ответственности за предоставление актуальной информации интергет магазинами.
%div Мы не осуществляем доставку, оплату и работу с товарами физически.
%div
  %em Все возникшие споры решаются исключительно с владельками магазином. Наш сервис предоставляет только удобный поиск.
