- content_for :page_title  do
  Условия пользования сервисом
- content_for :description do
  Права использоватния сервиса подбора одежды и акксессуаров
- content_for :keywords do
  условия

%h1 Условия пользования сервисом
%p Сервис не ограничиваем поиск товаров предлоставленных нашими партнерами.
%p Мы оставляем за собой право модерирования товаров и удаление или ограничения определенных товаров в поисковой выдаче
  для посетителей.
