# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e9d13fe61f9d461e2311c8618086dec9acce2f0e4861eaa760da6e768d4589f7616a338b5a48044ce177cdbb02428192b26c9b94009b9d8d439e1d1c79246f58
  admin_user: 'cmanager'
  admin_password: 'cmanager'
  redis: 'redis://127.0.0.1:6379/0/cache'
  elastic_host: 'localhost:9200'
  smtp_user: gmail_user
  smtp_password: gmail_password

test:
  secret_key_base: 5a3eec7cb0f99f0e38db2d5b569861bf47745b4dc5a7f047c0b244598ffa4fd03eec382a0993f1320f8de428f73a79e06105cab50d602d49792c5b3f8798073f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
