%h1 Редактирование ##{@product.to_param}
.pull-right
  = link_to('Открыть товар', @product.link, class: 'btn btn-info')
  = link_to 'Удалить', admin_product_path(@product), :method => :delete, :data => { :confirm => 'Вы уверены?'}, class: 'btn btn-warning'
= render 'form'
