- if @product.verified? || @product.identified?
  $("##{@product.to_dom_id}").addClass('verified').removeClass('pending')
- else
  $("##{@product.to_dom_id}").addClass('pending').removeClass('verified')