.mission {
  text-align: center;
  font-size: 25px;
  margin-top: 40px;
}

.new-items {
  &.item-list {
    margin-top: 0px;
  }
}

.latest-blog-posts {
  .post {
    a {
      color: @gray-dark;
    }
  }
}

.social {
  margin-top: 20px;
}

.contact_us {
  .row {
    margin-bottom: 10px;
  }

  .ask-question {
    margin-bottom: 10px;
    font-weight: 600;
  }
}