- product = product.decorate
.col-xs-15.col-md-6.item-item
  .item-box
    %a{href: product_path(product), title: product.name}= product.preview_image
    %a.title{href: product_path(product), title: product.object.name}= product.name
    = product.price
    = product.currency