- if params[:page].present?
  $('#products').append("#{j render(collection: @products, partial: '/products/product') }").hide().fadeIn(1000);
  - if @products.next_page
    $('.pagination').html("#{j paginate(@products)}");
  - else
    $('.pagination').remove();
- else
  $('#products').html("#{j render(collection: @products, partial: '/products/product') }").hide().fadeIn(1000);
